
.gradient-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 358px;
    height: 60px;
    border: double 1.5px transparent;
    border-radius: 10px;
    background-image: linear-gradient(white, white),
        linear-gradient(270deg, #800080 0%, #FF864C 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.5em;
    color: #800080;
}
@media(max-width:423px) {
    .referal-code {
        width: 93%;
    }

    .gradient-container {
        width: 100%;
    }


}