main{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-bottom:5rem;
    
}

header p {
    font-size: 14px;
    margin-left: 12%;
    
}


.section-1{
    display: flex;
    gap:8%;

}
.section-1 h1{
        font-size: 24px;
        line-height: 36px;
        color: #800080;
}
@media (max-width: 1100px) {
    .section-1 {
            flex-direction: column;
            gap: 30px;
            align-items: flex-start;
        }
}

@media (max-width: 800px) {
    
        header p {
            margin-left: 35px;
        }
}



