@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* * {
  border: 1px solid red;
} */

.heading {
  font-weight: 600;
  font-size: 24px;
  color: #800080;
  margin: 0;
  margin-bottom: 9px
}
.link{
  text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #800080;
}
header {
  height: 76px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 2.2rem;

}
.content {
  margin-left: 12%;
}
.large-bold{
  font-weight: 700;
  font-size: 24px;
}
.bold-medium{
  font-weight: 700;
    font-size: 16px;
}
.medium{
  font-weight: 400;
    font-size: 14px;
}
.medium-light{
  font-weight: 400;
    font-size: 16px;
}

@media (max-width: 800px) {

  .content {
    margin-left: 35px;
  }
}
